<section class="container">
    <h2 class="text-center m-3">Productos</h2>
    <div id="Productos" class=" card-group row row-cols-3">
        {{#each docs}}
        <div class="col">
            <div class="card h-100 text-center">
                <img src={{#if this.thumbnail.[0]}} {{this.thumbnail.[0]}}
                    {{else}}'../../static/img/default-product-img.png' {{/if}} class="card-img-top" alt={{this.title}}>
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">${{this.price}}</small>
                    <button class="btn btn-small btn-primary" id={{this._id}} }>añadir al carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {{#if this.prevPage}}{{''}}{{else}}{{'disabled'}}{{/if}}">
                <a class="page-link" href="/?limit={{limit}}&page={{prevPage}}">Previous</a>
            </li>
            <li class="page-item">{{this.page}}<a class="page-link"></a>
            </li>
            <li class="page-item {{#if this.nextPage}}{{''}}{{else}}{{'disabled'}}{{/if}}">
                <a class="page-link" href="/?limit={{limit}}&page={{nextPage}}">Next</a>
            </li>
        </ul>
    </nav>
</section>

<script>
    const addCartButtons = document.querySelectorAll('.btn-small')


    async function getUser() {
        const response = await fetch('/api/Sessions/current')
        let data = await response.json()
        return data.user
    }

    getUser().then((user) => {
        
            addCartButtons.forEach((b) => {
                b.addEventListener('click', async (e) => {
                    e.preventDefault()
                    if(!user){
                        alert('necesitas loguearte')
                    }else{
                        console.log(user)
                        await fetch(`/api/carts/${user.cart}/product/${e.target.id}`, {
                            method:'POST'
                        })
                    }
                })
            })
        
    })

</script>